# .gitignore
.env.example
.env
__pycache__/
*.py[cod]
*$py.class
instance
.pytest_cache/
*.log
*.db
*.sqlite
*.sqlite3
*.pdf
*.csv
*.xlsx
*.json
*.xml
*.zip
*.tar.gz
*.egg-info/
dist/
build/
*.egg
*.egg-info
*.log
*.pot
*.mo
*.pyc
*.pyo
*.pyd
docker-compose.override.yml
docker-compose.dev.yml
docker-compose.prod.yml
dockerfile.dev
dockerfile.prod
requirements.txt
requirements-dev.txt
